/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <dt-bindings/zmk/mouse.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

&mt {
    flavor = "tap-preferred";
    tapping_term_ms = <200>;
};

&mmv {
    time-to-max-speed-ms = <680>;
    acceleration-exponent = <2>;
};

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        td: tapdance {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <150>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        F9_voldn: F9_voldn {
            compatible = "zmk,behavior-mod-morph";
            label = "F9_VOLDN";
            bindings = <&kp F9>, <&kp C_VOL_DN>;

            #binding-cells = <0>;
            mods = <(MOD_LCTL|MOD_RCTL)>;
        };

        f10_volup: f10_volup {
            compatible = "zmk,behavior-mod-morph";
            label = "F10_VOLUP";
            bindings = <&kp F10>, <&kp C_VOLUME_UP>;

            #binding-cells = <0>;
            mods = <(MOD_LCTL|MOD_RCTL)>;
        };

        f8_volmt: f8_volmt {
            compatible = "zmk,behavior-mod-morph";
            label = "F8_VOLMT";
            bindings = <&kp F8>, <&kp C_MUTE>;

            #binding-cells = <0>;
            mods = <(MOD_LCTL|MOD_RCTL)>;
        };

        mute_vol_dn: mute_vol_dn {
            compatible = "zmk,behavior-hold-tap";
            label = "MUTE_VOL_DN";
            bindings = <&f8_volmt>, <&F9_voldn>;

            #binding-cells = <2>;
            tapping-term-ms = <250>;
            quick-tap-ms = <250>;
            flavor = "tap-preferred";
        };
    };

    combos {
        compatible = "zmk,combos";

        fn_1-0 {
            bindings = <&to 4>;
            key-positions = <30 33>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q               &kp W           &kp E       &kp R       &mt LEFT_BRACKET T    &mt RIGHT_BRACKET Y  &kp U        &kp I          &kp O            &td BACKSPACE P
&hm LEFT_COMMAND A  &hm LEFT_ALT S  &hm LALT D  &hm LGUI F  &kp G                 &kp H                &hm RGUI J   &hm RALT K     &hm RIGHT_ALT L  &mt RIGHT_COMMAND SEMICOLON
&mt CAPS Z          &kp X           &kp C       &kp V       &kp B                 &kp N                &kp M        &td SQT COMMA  &td EXCL DOT     &td BSLH FSLH
                                                &kp SPACE   &kp TAB               &to 1                &mt RET ESC
            >;
        };

        left_layer {
            bindings = <
&kp F1                     &kp F2                 &kp F3                     &kp F4                   &kp F5    &kp C_PP      &kp F6        &kp F7     &mute_vol_dn 0 0  &f10_volup
&hm LEFT_COMMAND NUMBER_1  &hm LEFT_ALT NUMBER_2  &hm LEFT_CONTROL NUMBER_3  &hm LEFT_SHIFT NUMBER_4  &kp N5    &kp HOME      &gresc        &kp F11    &kp F12           &hm LEFT_COMMAND END
&kp N6                     &kp N7                 &kp N8                     &kp N9                   &kp N0    &kp LA(LEFT)  &kp LA(LEFT)  &kp COMMA  &kp DOT           &kp LA(RIGHT)
                                                                             &kp SPACE                &to 0     &to 2         &trans
            >;
        };

        layer_7 {
            bindings = <
&trans  &trans  &trans  &trans  &trans    &trans  &trans          &trans          &trans        &trans
&trans  &trans  &trans  &trans  &trans    &trans  &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_UP  &mmv MOVE_RIGHT
&trans  &trans  &trans  &trans  &trans    &trans  &trans          &mkp LCLK       &mkp RCLK     &trans
                        &trans  &trans    &trans  &to 3
            >;
        };

        bt {
            bindings = <
&trans          &trans  &trans      &trans  &bt BT_SEL 0    &bt BT_SEL 3  &trans  &trans  &trans  &trans
&trans          &trans  &trans      &trans  &bt BT_SEL 1    &bt BT_SEL 4  &trans  &trans  &trans  &trans
&studio_unlock  &trans  &bt BT_CLR  &trans  &bt BT_SEL 2    &bt BT_CLR    &trans  &trans  &trans  &trans
                                    &to 0   &trans          &trans        &to 1
            >;
        };

        right_layer {
            bindings = <
&kp ESC  &kp C_PP  &kp C_PREV    &kp C_NEXT    &kp LS(MINUS)    &kp MINUS  &kp N7  &kp N8  &kp N9  &trans
&kp TAB  &gresc    &kp C_VOL_DN  &kp C_VOL_UP  &kp LS(EQUAL)    &kp EQUAL  &kp N4  &kp N5  &kp N6  &kp ENTER
&to 3    &kp AMPS  &kp SLASH     &kp STAR      &kp DOT          &kp N0     &kp N1  &kp N2  &kp N3  &trans
                                 &to 0         &sk LGUI         &to 2      &to 3
            >;
        };

        extra_layer {
            bindings = <
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
                        &trans  &trans    &trans  &trans
            >;
        };

        layer_6 {
            bindings = <
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
                        &trans  &trans    &trans  &trans
            >;
        };
    };
};
